body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.pubs {
  margin: 30px auto 40px; 
  font-size: 1.5em;
  list-style-type: none;
}

/* publication list */
.pub {
    font-size:16px;
}
.pubs h3 {
    font-size:18px;
    width: 100%;
    line-height: 120%;
    font-weight: bold;
}
.pubs ul {
    list-style-type: none;
}

.pubs li img {
    float: left;
    margin: 0 15px 0 0;
}

.pubs li p {
    text-align: left;
}

.pubs li {
    padding: 10px;
    overflow: auto;
}

.pubs li:hover {
    background: #eee;
    cursor: pointer;
}

.pub blockquote {
    font-size:14px;
    font-style:none;
}

/* image to the left of pub info */
.pub .pub-image {
    float: left;
    width: 15%;
}

div .pub-info {
    float:left;
    width: 78%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 180px;
    -webkit-transition: max-height .6s linear;
    -moz-transition: max-height .6s linear;
    transition: max-height .6s linear;
}

div .pub-full {
    float:left;
    width: 78%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 500px;
}

.pub-info blockquote {
    text-align: justify;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}