<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/teaching">Teaching</a></li>
<li><a href="/sports">Sports</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
     <li><a href="mailto:amfranks@uw.edu">email</a></li>
     <li><a href="https://twitter.com/afranks53">twitter</a></li>
     <li><a href="https://github.com/afranks86">github</a></li>
   </ul>
  </footer>
  </body>

</html>
