<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon"  href="../images/favicon.ico" />
  
  </head>


  <body>
    <nav>
      <ul>

	<li><a href="/">Home</a></li>
	<li><a href="/research">Research</a></li>
	<li><a href="/teaching">Teaching</a></li>
	<li><a href="/sports">Sports Analytics</a></li>
	<li><a href="/contact">Contact</a></li>

	<li style="float: right; vertical-align: top"><a href="https://twitter.com/afranks53"><img src="../images/twitter_icon.png" width=40px></a></li>
	<li style="float: right"><a href="https://github.com/afranks86"><img src="../images/github_icon.png" width=40px></a></li>
	<li style="float: right"><a href="mailto:amfranks@uw.edu"><img src="../images/email_icon.png" width=40px></a></li>
	
      </ul>
    </nav>
    
<div class="container">

  {{ content }}

</div>
  
  <!-- <footer> -->
  <!--  <ul> -->
  <!--    <li><a href="mailto:amfranks@uw.edu">email</a></li> -->
  <!--    <li><a href="https://twitter.com/afranks53">twitter</a></li> -->
  <!--    <li><a href="https://github.com/afranks86">github</a></li> -->
  <!--  </ul> -->
  <!-- </footer> -->
  
  </body>

</html>
